#{extends 'public/themes2/index.html' /}


#{set 'panel-content'}
	<div id="table-siswa"></div>
#{/set}
#{if menu==5}
	<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    <li class="active">Arsip SMK</li>	    
		</ul>
	</div>
</div>
	#{panel title:'siswa.arsipsmk.panel.title'/}
#{/if}
#{elseif menu==6}
<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    <li class="active">Arsip Mahasiswa</li>	    
		</ul>
	</div>
</div>
	#{panel title:'siswa.arsipmhs.panel.title'/}
#{/elseif}
#{elseif menu==7}
<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    <li class="active">Arsip Ditolak</li>	    
		</ul>
	</div>
</div>
	#{panel title:'siswa.arsiptolak.panel.title'/}
#{/elseif}
#{modal id:'modal-siswa-ubah',title:'siswa.modal.title.ubah',content:'modal-siswa-content-ubah',form:'form-siswa-ubah' /}



#{set 'moreScripts'}
    <script type="text/javascript">
	$(document).ready(function () {  
/*================================================================
===============LOAD LIST USER=====================================
==================================================================
	 	*/
	 	var list=#{jsAction @Siswas.listsiswa(':menu') /}; 
		$('#table-siswa').load(list({menu:${menu}}),function(){
			$("#dataTables").DataTable().column(5).visible(true);	
		});	
/*===========================================	
==================UBAH DATA USER============
============================================
   	 	*/
		  var recipient;
          $('#modal-siswa-ubah').on('show.bs.modal', function (event) {
       	   		var button = $(event.relatedTarget);       	   		
				recipient = button.data('id');		
				var ubah=#{jsAction @Siswas.ubahsiswa(':id') /};
				$('#modal-siswa-content-ubah').load(ubah({id:recipient}));
          });
	});//end	
    </script> 
#{/set}