#{extends 'public/themes2/index.html' /}

#{set 'panel-button'}
	<div class="row">
		<div class="col-lg-12 text-left">
			<button class="btn btn-lg btn-success square-btn-adjust" id="tombol-ubah-status"><i class=" fa fa-refresh"></i> Ubah Status</button>
		</div>
	</div>
#{/set}

#{set 'panel-content'}
	<div id="table-siswa"></div>
#{/set}
#{if menu==1}
	<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    <li class="active">SMK</li>	    
		</ul>
	</div>
</div>
	#{panel title:'siswa.smk.panel.title'/}
#{/if}
#{elseif menu==2}
<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    <li class="active">Mahasiswa</li>	    
		</ul>
	</div>
</div>
	#{panel title:'siswa.mhs.panel.title'/}
#{/elseif}
#{modal id:'modal-siswa-ubah',title:'siswa.modal.title.ubah',content:'modal-siswa-content-ubah',form:'form-siswa-ubah' /}



#{set 'moreScripts'}
    <script type="text/javascript">
	$(document).ready(function () {  
/*================================================================
===============LOAD LIST USER=====================================
==================================================================
	 	*/
	 	var list=#{jsAction @Siswas.listsiswa(':menu') /}; 
		$('#table-siswa').load(list({menu:${menu}}));	
		 
/*===========================================	
==================UBAH DATA USER============
============================================
   	 	*/
		  var recipient;
          $('#modal-siswa-ubah').on('show.bs.modal', function (event) {
       	   		var button = $(event.relatedTarget);       	   		
				recipient = button.data('id');		
				var ubah=#{jsAction @Siswas.ubahsiswa(':id') /};
				$('#modal-siswa-content-ubah').load(ubah({id:recipient}));
          });
	});//end	
    </script> 
#{/set}