<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover" id="dataTables">
					      <thead>
					           <tr>
								<th>NIS</th>
								<th>Nama</th>
								<th>Sekolah</th>
								<th>Divisi</th>
								<th>Tgl PKL</th>
								<th>Status</th>
								<th>Ubah Status</th>
								<th>Aksi</th>
					           </tr>
					       </thead>
					       <tbody id="tablebody">				       	
							#{list siswa}
								<tr>
							  		<td>${_?.nis}</td>
							  		<td>${_?.nama}</td>
							  		<td>${_?.pengajuan?.namainstansi}</td>
							  		<td>${_?.divisi?.namadivisi}<b class="status-hidden">${_?.status?.namastatus}</b></td>
							  		<td class="text-center">${_?.tglmulai?.format('dd MMMM','id')} - ${_?.tglselesai?.format('dd MMMM yyy','id')}</td>						  								  								  		
							  		<td><b>${_?.status?.namastatus}</b></td>
							  		<td>
							  			#{select 'status.id', items:status, valueProperty:'id', labelProperty:'namastatus', value:_?.status?.id, class:'form-control status-siswa'/}
							  			<input type="hidden" name="id" value="${_?.id}">	
							  		</td>
							  		<td class="text-center">	
							  			<button class="btn-info" data-id="${_?.id}" data-toggle="modal" data-target="#modal-siswa-ubah" data-placement="top" title="Ubah Profil Siswa"><i class=" fa fa-edit"></i> Ubah</button>
							  			<button class="btn-danger" data-id="${_?.id}" data-toggle="modal" title="Hapus Data Siswa" data-target="#siswa-hapus" ><i class=" fa fa-remove"></i> Hapus</button>						  			
	                    #{secure.check "admin"}                      						  		  								  			  								  			
							  			<button data-id="${_?.id}" data-toggle="modal" data-target="#modal-cetak-sertifikat"  #{if !controllers.Siswas.ceksertifikat(_?.id)} disabled class="btn-default" #{/if}#{else}class="btn-success"#{/else}" >
							  			<i class=" fa fa-print"></i> Sertifikat</button>#{/secure.check}						  		
							  		</td>
							  	</tr>
							 #{/list}
					       </tbody>        
	</table>	
</div>
#{sertifikat /}
#{modal id:'modal-siswa-ubah',title:'siswa.modal.title.ubah',content:'modal-siswa-content-ubah',form:'form-siswa-ubah' /}
#{modal-hapus id:'siswa-hapus',title:'siswa.hapus.title',msg:'siswa.hapus.pesan'/}
#{alert-success id:'alert-success-ubah', msg:'siswa.alert.success.ubah' /}
#{alert-success id:'alert-success-hapus', msg:'siswa.alert.success.hapus' /}
#{alert-success id:'alert-success-tambah', msg:'siswa.alert.success.tambah' /}

<script>
$(document).ready(function () {  
	
    $('#modal-cetak-sertifikat').on('shown.bs.modal', function (event) {			     	      
	   		var button = $(event.relatedTarget);
			var siswaid = button.data('id');	
			$('#sertifikat-id-siswa').val(siswaid);
    }); 
	var table=$('#dataTables').dataTable({
		"dom": 'lfr<"#filter-status"><"#filter-tanggal">tip',
		"columnDefs": [{ "searchable": false, "targets": 6,"visible":false }],
		"pageLength": 20,
		"lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "Semua"]],
		"language": {
		    "sProcessing":   "Sedang memproses...",
		    "sLengthMenu":   "Tampilkan _MENU_",
		    "sZeroRecords":  "Tidak ditemukan data yang sesuai",
		    "sInfo":         "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
		    "sInfoEmpty":    "Menampilkan 0 sampai 0 dari 0 entri",
		    "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
		    "sInfoPostFix":  "",
		    "sSearch":       "Cari:",
		    "sUrl":          "",
		    "oPaginate": {
		        "sFirst":    "Pertama",
		        "sPrevious": "Sebelumnya",
		        "sNext":     "Selanjutnya",
		        "sLast":     "Terakhir"
		    }
		},
	 });
	
	$("div#filter-status").html('<label><b>Status :</b></label><select id="select-status"><option value="0" selected="selected">Semua</option><option value="1">Proses</option><option value="2">Tolak</option><option value="3">Disetujui</option><option value="4">Menunggu </option><option value="5">Aktif</option><option value="6">Selesai</option></select><br>');
	$("div#filter-tanggal").html('<label><b>Bulan :</b></label><select id="select-bulan"><option value="0" selected="selected">Semua</option><option value="1">Januari</option><option value="2">Februari</option><option value="3">Maret</option><option value="4">April</option><option value="5">Mei</option><option value="6">Juni</option><option value="7">Juli</option><option value="8">Agustus</option><option value="9">September</option><option value="10">Oktober</option><option value="11">November</option><option value="12">Desember</option></select><br>');
	var list=#{jsAction @Siswas.listsiswa(':menu',':pengajuan') /};
	var divisisekarang,formsekarang,sdlama,divisilama;
	$('#modal-siswa-ubah').on('show.bs.modal',function(event){			
		var idsiswa=$(event.relatedTarget).data('id');
		var ubah=#{jsAction @Siswas.ubahsiswa(':id') /};			
		$('#modal-siswa-content-ubah').load(ubah({id : idsiswa}),function(){
			sdlama=$('.kuotadivisi').val()+"|"+$('.status-siswa').val();
			divisilama=$('.kuotadivisi').val();
			formlama=$('#form-siswa-ubah').serialize();			
		});
	});	
	$("#select-status,#select-bulan").change(function(){
		var bulan=$("#select-bulan option:selected").text();
		var status=$("#select-status option:selected").text();
		//var text=bulan+"|"+status;
		//alert(text);
		if(status!="Semua"){
			table.fnFilter(status,5,true,false);	
			
		}else{
			table.fnFilter("",5,true,false);	
		}
		if(bulan!="Semua"){
			table.fnFilter(bulan,4,true,false);	
			
		}else{
			table.fnFilter("",4,true,false);	
		}
		
	});
		var detaildivisi=#{jsAction @Divisis.detaildivisi(':id') /};

		var divisiid=$('.kuotadivisi').val();
		$('#form-siswa-ubah').submit(function(e){		
			e.preventDefault();		
			var namasiswa=$(this).find('input[name="siswa.nama"]').val();
			var simpan=#{jsRoute @Siswas.simpansiswa() /};
			var form=$(this).serialize();
			var progress=$(this).find('#progress-icon');
			progress.toggle();
			var cekkuota=#{jsRoute @Divisis.cekkuota() /}
			var status=$(this).find('.status-siswa').val();	
			var sdbaru=$('.kuotadivisi').val()+"|"+$('.status-siswa').val();
			var divisiid=$('.kuotadivisi').val();
			if(form==formlama){  	
				$('#modal-siswa-ubah').modal('hide');					
				progress.toggle();
			}else{
				//progress.toggle();	
				$.get(cekkuota.url(),{id:divisiid}).done(function(data){
					if(data==0 && status==5){
						if(sdbaru!=sdlama){
							$('#form-siswa-ubah').find('.error-msg.error-divisi').show();
		 					progress.toggle();
						}else{
							$.ajax({
								url: simpan.url(),
								data : form,
								type: 'POST',
								success: function(data){
									if(data=="success"){
					  					progress.toggle();	  					
					  					$('#modal-siswa-ubah').modal('hide');
						  				$('#alert-success-ubah').find('.msg b').html(namasiswa);
						   				$('#alert-success-ubah').modal('show');
					                 	setTimeout(function(){$('#alert-success-ubah').modal('hide');},2000);					  				
					                 	$('#alert-success-ubah').on('hide.bs.modal', function (event) {
					                 		alert(divisilama);
						                 	$('#table-siswa').load(list({menu:${menu},pengajuan:${pengajuan}}),function(){							        			
							            		$('#detail-divisi').load(detaildivisi({id:divisilama}));
						                 	});	
					                 	});	  			
									}else{
										alert(data);
									}
								}
						    });
						}
					}else{
						$.ajax({
							url: simpan.url(),
							data : form,
							type: 'POST',
							success: function(data){
								if(data=="success"){
				  					progress.toggle();	  					
				  					$('#modal-siswa-ubah').modal('hide');
					  				$('#alert-success-ubah').find('.msg b').html(namasiswa);
					   				$('#alert-success-ubah').modal('show');
				                 	setTimeout(function(){$('#alert-success-ubah').modal('hide');},2000);					  				
				                 	$('#alert-success-ubah').on('hide.bs.modal', function (event) {
					                 	$('#table-siswa').load(list({menu:${menu},pengajuan:${pengajuan}}));				        			
					                 	$('#detail-divisi').load(detaildivisi({id:divisilama}));
				                 	});	  			
								}else{
									alert(data);
								}
							}
					    });
					}
				});  
			}
		});     	 
		/*====================================================	
		========HAPUS USER================================	
		======================================================	*/	           
					var siswa,namasiswa
		          $('#siswa-hapus').on('show.bs.modal', function (event) {
		     	      	var getName=#{jsRoute @Siswas.getNameBeforeDelete() /};
		     	   		var button = $(event.relatedTarget);
						siswa = button.data('id');	
						$.get(getName.url(),{id:siswa}).done(function(data){
							$(".hapus-msg b").html(data);
							namasiswa=data;
						});
		          }); 

					var detailpengajuan=#{jsAction @Pengajuans.detailpengajuan(':id') /};	
				  $("#siswa-hapus").find("button[type='submit']").click(function(e){
					  e.preventDefault();
				   		var hapus=#{jsRoute @Siswas.hapus(':id') /};
				   		$.ajax({
				   			url: hapus.url({id: siswa}),
				   			type: 'POST',
				   			success: function(data){
					   			if(data=="success"){
				  					$('#siswa-hapus').modal('hide');
				  					//$('#progress-icon').toggle();	  		
					   				$('#alert-success-hapus').find('.msg b').html(namasiswa);
					   				$('#alert-success-hapus').modal('show');
				                 	setTimeout(function(){$('#alert-success-hapus').modal('hide');},2000);					  				
				                 	$('#alert-success-hapus').on('hide.bs.modal', function (event) {
					                 	$('#table-siswa').load(list({menu:${menu},pengajuan:${pengajuan}}));
					                	$('#detail-pengajuan').load(detailpengajuan({id:${pengajuan}}));
					                	$('#detail-divisi').load(detailpengajuan({id:${pengajuan}}));
				                 	});	  			
								}else{
									alert(data);
								}
				   			}
				   		});
				  });
				  
				  
					
				      var test=true,index;
				      var iddivisi=$('input[name="divisi.id"]').val();
				     
				  $('#tombol-ubah-status').click(function(){
					  var table2=$('#dataTables').DataTable();	
					  var siswaArray=[],XHRs = [];
					  var respon=[];
					  if(test){
							table2.column(6).visible(true);
							table2.column(5).visible(false);
							$(this).html('<i class="fa fa-save"></i> Simpan Status').removeClass("btn-success").addClass("btn-info");
							test=false;
					  }else{
							$('#tombol-ubah-status').prop( "disabled", true );
							var simpan=#{jsRoute @Siswas.simpanstatussiswa() /};
							$('.status-siswa').each(function(){									  
								var siswa=$(this).closest('td').find(':input').serialize();			
								siswaArray.push(siswa);
								siswaArray.sort(function(a, b){return b-a});
							});
							for(index=0;index<siswaArray.length;index++){
								XHRs.push($.ajax({
									url:simpan.url(),
									data:siswaArray[index],
									type:'POST',
									success:function(data){
										respon.push(data);
									}
								}));
							}
							$.when(XHRs).then(function (){
			                 	$('#table-siswa').load(list({menu:${menu},pengajuan:${pengajuan}}),function(){
			                 		//console.log(siswaArray);
			                 		test=true;
			                 		table2.column(6).visible(false);
								    table2.column(5).visible(true).draw();			        			
				                 	$('#detail-divisi').load(detaildivisi({id:iddivisi}));
								    $('#tombol-ubah-status').html('<i class=" fa fa-refresh"></i> Ubah Status').removeClass("btn-info").addClass("btn-success").prop( "disabled", false );										         					                
			                 	});
							});
					  }					  					 
				  });		

	
});
</script>