 <div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Nama</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="siswa.nama" class="form-control"  placeholder="Masukan nama siswa"  required/>
	</div>								
</div>	
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">NIS</label>
	</div>
	<div class="col-lg-8">
		<input id="instansi" type="text" name="siswa.nis" class="form-control" placeholder="Masukan nomor induk siswa" required/>
	</div>								
</div>			
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Jenis Kelamin</label>
	</div>
	<div class="col-lg-8">
		#{select 'siswa.jeniskelamin.id', items:jk, valueProperty:'id', labelProperty:'namakelamin', class:'form-control', id:'select2' /}
	</div>								
</div>						
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Jurusan</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="siswa.jurusan" class="form-control" placeholder="Masukan jurusan siswa" required/>
	</div>								
</div>	
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Divisi</label>
	</div>
	<div class="col-lg-8">
														
	#{select 'siswa.divisi.id', class:'form-control kuotadivisi'}
		#{list divisi}
			#{option _?.id}${_?.namadivisi} (Kuota ${_?.kuota})#{/option}
		#{/list}
	#{/select}
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Tgl Mulai</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="tglmulai" class="form-control" id="tglMulai2" placeholder="Masukan tanggal mulai kerja praktik" required/>
	</div>			
</div>	
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Tgl Selesai</label>
	</div>				
	<div class="col-lg-8">
		<input type="text" name="tglselesai" class="form-control" id="tglSelesai2" placeholder="Masukan tanggal selesai kerja praktik" required/>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Status</label>
	</div>
	<div class="col-lg-8">		
		#{select 'siswa.status.id', items:status, valueProperty:'id', labelProperty:'namastatus', value:siswa?.status?.id, class:'form-control status-siswa'/}
				<span class="error-msg error-divisi">Kuota divisi sudah habis, tidak dapat memilih status aktif</span>
	</div>								
</div>
<input type="hidden" name="siswa.pengajuan.id" value="${idpengajuan}">
<script>
$(document).ready(function () {     	
	$('#tglMulai2').datepicker({
		showAnim : 'slideDown',
	      changeMonth: true,
	      changeYear: true,
		dateFormat : 'dd-mm-yy',selectOtherMonths: true,
		onClose: function( selectedDate ) {
	        $( "#tglSelesai2" ).datepicker( "option", "minDate", selectedDate );
	      }
	});	     	
	$('#tglSelesai2').datepicker({
		showAnim : 'slideDown',
	      changeMonth: true,
	      changeYear: true,
		dateFormat : 'dd-mm-yy',
		onClose: function( selectedDate ) {
	        $( "#tglMulai2" ).datepicker( "option", "maxDate", selectedDate );
	      }
	});	
});

</script>