<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Nama</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="siswa.nama" value="${siswa?.nama}" class="form-control" required/>
	</div>								
</div>	
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">NIS</label>
	</div>
	<div class="col-lg-8">
		<input id="instansi" type="text" name="siswa.nis" class="form-control" value="${siswa?.nis}"  required/>
	</div>								
</div>			
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Jenis Kelamin</label>
	</div>
	<div class="col-lg-8">
		#{select 'siswa.jeniskelamin.id', items:jk, valueProperty:'id', labelProperty:'namakelamin', class:'form-control', value:siswa?.jeniskelamin?.id /}
	</div>								
</div>						
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Jurusan</label>
	</div>
	<div class="col-lg-8">
		<input id="instansi" value="${siswa?.jurusan}" type="text" name="siswa.jurusan" class="form-control" />
	</div>								
</div>	
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Divisi</label>
	</div>
	<div class="col-lg-8">
														
	#{select 'siswa.divisi.id', class:'form-control kuotadivisi',value:siswa?.divisi?.id}
		#{list divisi}
			#{option _?.id}${_?.namadivisi}  (Kuota : ${_?.kuota} )#{/option}
		#{/list}
	#{/select}
		
	</div>							
</div>
<input type="hidden" name="siswa.pengajuan.id" value="${siswa?.pengajuan?.id}">
<input type="hidden" name="siswa.id" value="${siswa?.id}">

<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Tgl PKL</label>
	</div>
	<div class="col-lg-4">
		<input type="text" name="tglmulai" value="${siswa?.tglmulai?.format('dd-MM-yyyy')}" class="form-control" id="tglMulai" required/>
	</div>								
	<div class="col-lg-4">
		<input type="text" name="tglselesai" value="${siswa?.tglselesai?.format('dd-MM-yyyy')}" class="form-control" id="tglSelesai" required/>
	</div>								
</div>
#{if siswa?.pengajuan?.tampil==true}
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Status</label>
	</div>
	<div class="col-lg-8">		
		#{select 'siswa.status.id', items:status, valueProperty:'id', labelProperty:'namastatus', value:siswa?.status?.id, class:'form-control status-siswa'/}
		<span class="error-msg error-divisi">Kuota divisi sudah habis, tidak dapat memilih status aktif</span>		
	</div>			
</div>
#{/if}
<script>
$(document).ready(function () {     	
	$('#tglMulai').datepicker({
		showAnim : 'slideDown',
		dateFormat : 'dd-mm-yy',
	      changeMonth: true,
	      changeYear: true,
		onClose: function( selectedDate ) {
	        $( "#tglSelesai" ).datepicker( "option", "minDate", selectedDate );
	      }
	});	     	
	$('#tglSelesai').datepicker({
		showAnim : 'slideDown',
		dateFormat : 'dd-mm-yy',
	      changeMonth: true,
	      changeYear: true,
		onClose: function( selectedDate ) {
	        $( "#tglMulai" ).datepicker( "option", "maxDate", selectedDate );
	      }
	});	
});

</script>