#{extends 'public/themes2/index.html' /}
	<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    <li class="active">User</li>	    
		</ul>
	</div>
</div>
#{set 'panel-button'}
	<div class="row">
		<div class="col-lg-12 text-left">
				<button class="btn btn-md btn-primary square-btn-adjust" id="panelButton" data-target="#modal-user-tambah" data-toggle="modal">
					<i class=" fa fa-plus-square"></i> &{'user.tombol.tambah'} 
				</button>
		</div>
	</div>
#{/set}
#{panel title:'user.panel.title' /}
#{set 'modal-content'}
 		<div class="form-group row">
		<div class="col-md-4">
			<label class="control-label">Nama</label>
		</div>
		<div class="col-md-8">
			<input type="text" name="user.nama" value="${user?.nama}" class="form-control"  required/>
		</div>								
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<label class="control-label">NIP</label>
		</div>
		<div class="col-md-8">
			<input type="text" name="user.nip" value="${user?.nip}" class="form-control" required/>
			<span class="error-msg nip">&{'user.tambah.error.nik'}</span>
		</div>								
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<label class="control-label">Jabatan</label>
		</div>
		<div class="col-md-8">
			<input type="text" name="user.jabatan" value="${user?.jabatan}" class="form-control" required/>
		</div>								
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<label class="control-label">Jenis Kelamin</label>
		</div>
		<div class="col-md-8">
			#{select 'user.jeniskelamin_id.id', items:jk, valueProperty:'id', labelProperty:'namakelamin', class:'form-control', id:'select2' /}
		</div>								
	</div>		
	<div class="form-group row">
		<div class="col-md-4">
			<label class="control-label">Username</label>
		</div>
		<div class="col-md-8">
			<input type="text" name="user.username" value="${user?.username}" class="form-control" id="username" required/> <i class="fa fa-spinner fa-pulse status-hidden" id="progress-icon"></i>			
			<span class="error-msg username">&{'user.tambah.error.username'}</span>
		</div>								
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<label class="control-label">Password</label>
		</div>
		<div class="col-md-8">
			<input type="password" name="user.password" value="${user?.password}" class="form-control" required/>
		</div>								
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<label class="control-label">Level</label>
		</div>
		<div class="col-md-8">
			#{select 'user.level_id.id', items:level, valueProperty:'id', labelProperty:'namalevel', class:'form-control', id:'select2' /}
		</div>								
	</div>	
#{/set}
#{modal id:'modal-user-tambah',title:'user.modal.title.tambah',content:'modal-user-content-tambah',form:'form-user-tambah' /}
#{modal id:'modal-user-ubah',title:'user.modal.title.ubah',content:'modal-user-content-ubah',form:'form-user-ubah' /}
#{alert-success id:'alert-success-tambah', msg:'user.alert.success.tambah' /}
#{alert-success id:'alert-success-ubah', msg:'user.alert.success.ubah' /}
#{alert-success id:'alert-success-hapus', msg:'user.alert.success.hapus' /}
#{modal-hapus id:'user-hapus',title:'user.hapus.title',msg:'user.hapus.pesan'/}







#{set 'moreScripts'}
    <script type="text/javascript">
	$(document).ready(function () {  

	 	/*=============================================	==============
===============================INISIALISASI====================
	==================================================================	 	*/
	 	var list=#{jsAction @Users.listuser() /}; 		
    	var ubahuser=#{jsAction @Users.ubahuser(':id') /}; 
      	var tambah=#{jsRoute @Users.tambahuser() /};
      	var getName=#{jsRoute @Users.getNameBeforeDelete() /};
/*================================================================
===============LOAD LIST USER=====================================
==================================================================
*/
		$('#panel-content').load(list());			 
/*====================================================	
========SUBMIT USER BARU================================	
======================================================	
	 	*/
        function showErrorNip(){
			  $('input[name="user.nip"]').parent().addClass("has-error");
			 $('.error-msg.nip').show(); 			
	    }
	    function showErrorUsername(){
			  $('input[name="user.username"]').parent().addClass("has-error");		 
			  $('.error-msg.username').show();
	    }
	    function hideErrorNip(){		  
			  $('input[name="user.nip"]').parent().removeClass("has-error");
			  $('.error-msg.nip').hide();
	    }
	    function hideErrorUsername(){
			  $('input[name="user.username"]').parent().removeClass("has-error");	
			  $('.error-msg.username').hide();
	    }
	    $("#modal-user-tambah").on("show.bs.modal",function(){
  			hideErrorUsername();
  			hideErrorNip();
	    });
        $('#form-user-tambah').submit(function(e){
         	e.preventDefault();
         	var form=$(this).serialize();
         	$.ajax({
	         	url : tambah.url(),
	         	data : form,
	         	type : 'POST',
	         	success:function(data){   
	          		if(data=='success'){
	           			hideErrorUsername();
	           			hideErrorNip();
	                  $('#modal-user-tambah').modal('hide');
	                  $('#alert-success-tambah').modal('show');
	                  setTimeout(function(){$('#alert-success-tambah').modal('hide');},1500);
	                  $('#form-user-tambah')[0].reset();
	                  $('#panel-content').load(list());	
	          		}else if(data=='nip+username'){
	           			showErrorUsername();
	           			showErrorNip();
           			}else if(data=='username'){
	           			showErrorUsername();
	           			hideErrorNip();
           			}else if(data=='nip'){
	           			showErrorNip();
	           			hideErrorUsername();
           			}else{
                 		alert(data); 
           			}
         		}
         	});
        });			 
 /*===========================================	
 ==================UBAH DATA USER============
============================================
   	 	*/
				var recipient;
          $('#modal-user-ubah').on('show.bs.modal', function (event) {
       	   		var button = $(event.relatedTarget);
				recipient = button.data('id');		
				$('#modal-user-content-ubah').load(ubahuser({id:recipient}));
          });
          $('#form-user-ubah').submit(function(e){
             	e.preventDefault();
             	var form=$(this).serialize();
             	$.ajax({
	             	url : tambah.url(),
	             	data : form,
	             	type : 'POST',
	             	success:function(data){  
	         			if(data=='nip+username'){
		           			showErrorUsername();
		           			showErrorNip();
	           			}else if(data=='username'){
		           			showErrorUsername();
		           			hideErrorNip();
	           			}else if(data=='nip'){
		           			showErrorNip();
		           			hideErrorUsername();
	           			}else if(data=='success'){
		           			hideErrorUsername();
		           			hideErrorNip();
		           			$('#modal-user-ubah').modal('hide');
			                $('#alert-success-ubah').modal('show');
			                setTimeout(function(){$('#alert-success-ubah').modal('hide');},1500);
			                $('#panel-content').load(list());	
	           			}else{
	                 		alert(data); 
	           			}
					}
             	});
           });
		      	 
/*====================================================	
========HAPUS USER================================	
======================================================	*/	           
			var hapusNama;
          $('#user-hapus').on('show.bs.modal', function (event) {
     	   		var button = $(event.relatedTarget);
				recipient = button.data('id');		
				$.get(getName.url(),{id:recipient}).done(function(data){
					$(".hapus-msg b").html(data);
					hapusNama=data;
				});
          }); 
		  $("#user-hapus").find("button[type='submit']").click(function(e){
			  e.preventDefault();
		   		var hapus=#{jsRoute @Users.hapususer(':id') /};
		   		$.ajax({
		   			url: hapus.url({id: recipient}),
		   			type: 'POST',
		   			success: function(data){		   				
		   				$('#user-hapus').modal('hide');
		   				$('#alert-success-hapus').find('.msg b').html(hapusNama);
		   				$('#alert-success-hapus').modal('show');
	                 	if(data=="logout"){
		                 	setTimeout(function(){$('#alert-success-hapus').modal('hide');},1500);
		                 	setTimeout(function(){window.location.href = "@{Secure.login()}";},1500);
	                 	}else{
		                 	setTimeout(function(){$('#alert-success-hapus').modal('hide');},1500);
			   				$('#panel-content').load(list());	
	                 	}
		   			}
		   		});
		  })
	});//end	
    </script> 
#{/set}