    <table class="table table-striped table-bordered table-hover" id="table-user">
       <thead>
            <tr>
				<th>Nama</th>
				<th>NIP</th>
				<th>Jabatan</th>
				<th>username</th>
				<th>level</th>
				<th>Aksi</th>
            </tr>
        </thead>
        <tbody id="tablebody">
			#{list user}
				<tr>
			  		<td>${_?.nama}</td>
			  		<td>${_?.nip}</td>
			  		<td>${_?.jabatan}</td>
			  		<td>${_?.username}</td>
			  		<td>${_?.level_id?.namalevel}</td>
			  		<td>
			  			<button class="btn-info" data-target="#modal-user-ubah" data-id="${_?.id}" data-toggle="modal" data-placement="top" title="edit data"><i class=" fa fa-pencil"></i> Ubah</button>

			  			<button
              #{if _?.id==1}
                  disabled="disabled" class="btn-default"
			  			#{/if}
              #{else}
                  class="btn-danger"
              #{/else}
              data-target="#user-hapus" data-id="${_?.id}"  data-toggle="modal" data-placement="top" title="hapus data">
                <i class=" fa fa-remove"></i> Hapus
              </button>
			  		</td>
			  	</tr>
			 #{/list}
        </tbody>
</table>
<script>
	 $('#table-user').dataTable();
</script>
