#{extends 'public/themes2/index.html' /}
<div class="row">
	<div class="col-sm-12 col-md-12">       
			
          <a href="@{'public/images/petunjuk.pdf'}"> <button class="btn btn-lg btn-primary square-btn-adjust"><i class=" fa fa-question-circle "></i> Petunjuk</button></a>
           <a href="@{Home.tentang()}"><button class="btn btn-lg btn-primary square-btn-adjust"><i class=" fa fa-info-circle "></i> Tentang Kami</button></a>
     </div>
</div>