#{extends 'public/themes2/index.html' /}
<div id="page-inner">
	<div class="row">
		<div class="col-sm-12 col-md-12">       
				
	          <button class="btn btn-lg btn-primary square-btn-adjust" id="tombol-petunjuk"><i class=" fa fa-question-circle "></i> Petunjuk</button>
	           <a href="@{Home.tentang()}"><button class="btn btn-lg btn-primary square-btn-adjust"><i class=" fa fa-info-circle "></i> Tentang Kami</button></a>
	     </div>
	</div>
	<hr>
	<div id="beranda-content">
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<div class="panel panel-back noti-box">
			       <span class="icon-box bg-color-green set-icon">
			           <i class="fa fa-file-text-o"></i>
			       </span>
			       <div class="text-box">
			           <p class="main-text">${jmlpengajuan} berkas</p>
			           <p class="text-muted">Pengajuan</p>
			       </div>
			    </div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="panel panel-back noti-box">
			       <span class="icon-box bg-color-blue set-icon">
			           <i class="fa fa-book"></i>	
			       </span>
			       <div class="text-box">
			           <p class="main-text">${jmlsmk} Orang</p>
			           <p class="text-muted">Siswa SMK Aktif</p>
			       </div>
			    </div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="panel panel-back noti-box">
			       <span class="icon-box bg-color-purple set-icon">
			           <i class="fa fa-graduation-cap"></i>	
			       </span>
			       <div class="text-box">
			           <p class="main-text">${jmlmahasiswa} Orang</p>
			           <p class="text-muted">Mahasiswa Aktif</p>
			       </div>
			    </div>
			</div>
			<div class="col-sm-3 col-md-3">
				<div class="panel panel-back noti-box">
			       <span class="icon-box bg-color-brown set-icon">
			           <i class="fa fa-group"></i>	
			       </span>
			       <div class="text-box">
			           <p class="main-text">${jmlmenunggu} Orang</p>
			           <p class="text-muted">Menunggu</p>
			       </div>
			    </div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12 col-md-12">	
				<div class="panel panel-primary">
					<div class="panel-heading">
						<i class=" fa fa-th-list "></i> Data Kerja Praktik Terakhir			
					</div>	
					<div class="panel-body">
					
					
						<div class="row">
							<div class="col-sm-8 col-md-8">						
								<div class="row"><!-- panel pengajuan					 -->
									<div class="col-sm-12 col-md-12">							
										<div class="panel panel-info">
											<div class="panel-heading">
											<i class=" fa fa-th-list "></i> Data Pengajuan		
											</div>
											<div class="panel-body">
		 										<div class="row">										 
													<div class="col-sm-12 col-md-12">
														<div class="row"><!-- table pengajuan -->
															<div class="col-sm-12 col-md-12  table-responsive">
																<table class="table table-striped table-bordered table-hover">                                    
																	<thead>
																		<tr>
																			<th>Jenis Sekolah</th>
																			<th>Nama Instansi</th>
																			<th>tgl Surat</th>
																			<th width="10%">Jumlah Orang</th>
																			<th>detail</th>
																			
																		</tr>
																	</thead>
																	<tbody>
																	#{list pengajuan}
																		<tr>
																			<td>${_?.jenisinstansi_id?.namajenis}</td>
																			<td>${_?.namainstansi}</td>
																			<td>${_?.tglsurat?.format('dd MMM yyyy')}</td>
																			<td>${_?.jumlahorang}</td>
																			<td>
																	   			<a href="@{Pengajuans.detail(_?.id)}">
																	   			<button id="DetailPengajuan" class=" btn-xs btn-primary"><i class=" fa fa-search-plus"></i> Detail</button>
																	   			</a>
																	   		</td>																	
																		</tr>
																	#{/list}
																	</tbody>
																</table>
															</div>
														</div><!-- /table pengajuan -->	
														<div class="row">	
															<div class="col-sm-12 col-md-12 text-right">
															<a href="@{Pengajuans.index()}">											
																<button class="btn btn-sm btn-primary square-btn-adjust">Selengkapnya <i class=" fa fa-chevron-circle-right"></i></button>
															</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div><!-- /panel pengajuan					 -->						
							</div>	
							<div class="col-sm-4 col-md-4">
								<div class="row">
									<div class="col-sm-12 col-md-12">
										<div class="panel panel-info">
											<div class="panel-heading">
												<i class=" fa fa-th-list "></i> Divisi			
											</div>
											<div class="panel-body table-responsive">
												<table class="table table-striped table-bordered table-hover ">                                    
													<thead>
														<tr>
															<th>Nama Divisi</th>
															<th>Kuota</th>
															<th>Terisi</th>  #{secure.check "admin"}
															<th>Detail</th>  #{/secure.check}
														</tr>
													</thead>
													<tbody>
													#{list divisi}
														<tr>
															<td>${_?.namadivisi}</td>
															<td>${_?.kuota}</td>
															<td>${_?.terisi}</td>  #{secure.check "admin"}
															<td>
													   			<a href="@{Divisis.detail(_?.id)}">
													   			<button id="DetailPengajuan" class=" btn-xs btn-primary"><i class=" fa fa-search-plus"></i> Detail</button>
													   			</a>
													   		</td>	  #{/secure.check}
														</tr>
													#{/list}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>	
										
						</div>	
					<div class="row">
						<div class="col-md-12">		
							<div class="panel panel-danger">
								<div class="panel-heading">
									<i class=" fa fa-th-list "></i> Data Tunggu Kerja Praktik		
								</div>	
								<div class="panel-body">
										<div class="row"><!-- table pengajuan -->
											<div class="col-lg-12 col-lg-12 table-responsive" id="table-siswa">
												
											</div>
										</div><!-- /table pengajuan -->
									</div>
								</div>
							</div>		
						</div>			
					</div>
				</div>
			</div>
		</div>
	</div>		
	<div id="beranda-bantuan" class="sembunyikan">		
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<i class=" fa fa-th-list "></i> Petunjuk Penggunaan Sistem			
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-10 col-lg-offset-1">		
								<div class="row">
									<div class="col-lg-12">												
										<h3><b>Dokumen Petunjuk Penggunaan Sistem Informasi Pendataan Kerja Praktik PT. Taspen (Persero) Kantor Pusat Jakarta Berbasis web.</b></h3>	
									</div>
								</div>				
								<br>
								<div class="row">	
									<div class="col-lg-4">
										<a href="@{'public/images/petunjuk.pdf'}"> <button class="btn btn-xl btn-info"><i class=" fa fa-arrow-circle-o-down"></i> Baca Petunjuk </button></a>
									</div>
										
								</div>				

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

#{set 'moreStyles'}
	<style type="text/css" media="screen">
		.btn-xl{
			padding: 5px 16px;					
			font-size: 24px;
			line-height: 1.3333333;
			border-radius: 6px;

		}
	</style>
#{/set}
#{set 'moreScripts'}
    <script type="text/javascript">
	$(document).ready(function () {  
/*================================================================
===============LOAD LIST USER=====================================
==================================================================
	 	*/
	 	$('#tombol-petunjuk').click(function(event) {
	 		event.preventDefault();
	 		$('#beranda-content').toggle('500');
	 		$('#beranda-bantuan').toggle('500');
	 		$(this).toggleClass('active');
	 	});
	 	var list=#{jsAction @Siswas.listsiswa(':menu') /}; 
		$('#table-siswa').load(list({menu:8}));	
/*===========================================	
==================UBAH DATA USER============
============================================
   	 	*/
		  var recipient;
          $('#modal-siswa-ubah').on('show.bs.modal', function (event) {
       	   		var button = $(event.relatedTarget);       	   		
				recipient = button.data('id');		
				var ubah=#{jsAction @Siswas.ubahsiswa(':id') /};
				$('#modal-siswa-content-ubah').load(ubah({id:recipient}));
          });
	});//end	
    </script> 
#{/set}