#{extends 'public/themes2/index.html' /}
<div class="row">
	<div class="col-sm-12 col-md-12">	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class=" fa fa-th-list "></i> Tentang Kami		
			</div>
			<div class="panel-body">
				<div class="row">					
					<div class="col-sm-12 col-md-12">
						<div class="row">
							<div class="col-md-4 text-center"  style="padding-top:20px">
								<img src="@{'public/images/logo.png'}"  width="150px">								
							</div>			
							<div class="col-md-8">
								<h4 class="text-justify">PT Taspen (Persero) atau Tabungan dan Asuransi Pensiun adalah Badan Usaha Milik Negara Indonesia yang bergerak di bidang asuransi tabungan hari tua dan dana pensiun Pegawai Negeri Sipil. Perusahaan ini dibentuk sesuai dengan Undang-undang Republik Indonesia Nomor 11 Tahun 1969 tentang "Pensiun Pegawai dan Pensiun Janda/Juda Pegawai", yang selanjutnya juga memfasilitasi Undang-undang Republik Indonesia Nomor 11 Tahun 1992 tentang "Dana Pensiun", serta Undang-undang Republik Indonesia Nomor 40 Tahun 2004 tentang "Sistem Jaminan Sosial Nasional".</h4>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-md-4 text-center" style="padding-top:20px">
								<img src="@{'public/images/unsoed-logo.jpg'}" width="150px">								
							</div>					
							<div class="col-md-8">
								<h4 class="text-justify">Universitas Jenderal Soedirman (Unsoed), merupakan salah satu Perguruan Tinggi Negeri (PTN) di Indonesia yang terletak di Purwokerto, Kabupaten Banyumas, Jawa Tengah.Universitas ini dibentuk Sesuai dengan amanat yang tersurat dalam Pembukaan UUD 1945 dan desakan masyarakat Banyumas akan kebutuhan pendidikan tinggi, para pemimpin formal dan informal Banyumas menggagas perlunya didirikan perguruan tinggi/universitas di wilayah Banyumas. Sebagai tindak lanjut gagasan ini dibentuklah Yayasan Pembina Universitas Jenderal Soedirman dengan Akte Notaris No. 32 tanggal 20 September 1961. Selanjutnya, atas desakan masyarakat, dinas instansi, dan TNI, Yayasan Pembina Universitas Jenderal Soedirman berusaha mewujudkan berdirinya universitas. Dengan Surat Keputusan Presiden RI No. 195 tertanggal 23 September 1963, berdirilah Universitas Jenderal Soedirman secara resmi didirikan, dan diresmikan oleh Menteri PTIP Prof. Dr. Tojib Hadiwidjaja bertempat di rumah Dinas Residen Banyumas.</h4>
							</div>
						</div>
					</div>		
				</div>
			</div>
		</div>
	</div>
</div>