<input type="hidden" name="divisi.id" value="${divisi?.id}" >
<div class="row">
		<div class="col-lg-12">
			<table class="table table-hover">
	            <tbody>
	                <tr>
	                    <th>Nama Divisi</th>
	                    <td>:</td>
	                    <th>${divisi?.namadivisi}</td>
	                </tr>
	                <tr>
	                    <th>Kuota</th>
	                    <td>:</td>
	                    <th>${divisi?.kuota}</td>
	                </tr> 
	                <tr>
	                    <th>Aktif</th>
	                    <td>:</td>
	                    <th>${divisi?.terisi}</td>
	                </tr>
	                <tr>
	                    <th>Proses</th>
	                    <td>:</td>
	                    <th>${proses}</td>
	                </tr>   
	                <tr>
	                    <th>Disetujui</th>
	                    <td>:</td>
	                    <th>${disetujui}</td>
	                </tr>   
	                <tr>
	                    <th>Menunggu</th>
	                    <td>:</td>
	                    <th>${menunggu}</td>
	                </tr>  
	                <tr>
	                    <th>Selesai</th>
	                    <td>:</td>
	                    <th>${selesai}</td>
	                </tr>   
	                <tr>
	                    <th>Total</th>
	                    <td>:</td>
	                    <th>${menunggu+disetujui+proses+divisi?.terisi+selesai}</td>
	                </tr>                                                  
	            </tbody>
	        </table>
		</div>
	</div>