#{extends 'public/themes2/index.html' /}
<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    <li><a href="@{Divisis.index()}">Divisi</a></li>
		    <li class="active">${divisi?.namadivisi}</li>	    
		</ul>
	</div>
</div>

#{set 'panel-content'}
	<div class="row">
		<div class="col-lg-12" id="detail-divisi"></div>
	</div>
		#{set 'panel-button' }
			<div class="row">
				<div class="col-lg-12 text-left">
					<button class="btn btn-md btn-success" id="tombol-ubah-status"><i class=" fa fa-refresh"></i> Ubah Status</button>
				</div>
			</div>
		#{/set}
		#{set 'panel-content'}
		<div class="row">
			<div class="col-lg-12" id="table-siswa"></div>
		</div>
		#{/set}
	#{panel title:'divisi.siswa.panel.title' /}
#{/set}
#{set 'panel-button' }
		<div class="row">
			<div class="col-lg-12 text-left">
				<button class="btn btn-info" id="panelButton" data-toggle="modal" data-target="#modal-divisi-ubah" data-id="${divisi?.id}"><i class=" fa fa-edit"></i> Ubah Divisi</button>
			</div>			
		</div>	
#{/set}
#{panel title:'divisi.detail.panel.title' /}
#{modal id:'modal-divisi-ubah',title:'divisi.modal.title.ubah',content:'modal-divisi-content-ubah',form:'form-divisi-ubah' /}





<!-- More JavaScript -->
#{set 'moreScripts'}
  	<script>
  	$(document).ready(function () {     
		var detaildivisi=#{jsAction @Divisis.detaildivisi(':id') /};			
		$('#detail-divisi').load(detaildivisi({id:${divisi?.id}}));
		var tambah=#{jsRoute @Divisis.tambahdivisi() /};	
		var listsiswa=#{jsAction @Siswas.listsiswa(':menu',':pengajuan') /};			
		$('#table-siswa').load(listsiswa({menu:'4',pengajuan:${divisi?.id}}));

  		var recipient;
		var ubahuser=#{jsAction @Divisis.ubahdivisi(':id') /}
		$('#modal-divisi-ubah').on('show.bs.modal', function (event) {
      	   	var button = $(event.relatedTarget);
			recipient = button.data('id');		
			$('#modal-divisi-content-ubah').load(ubahuser({id:recipient}));
		});
		$('#form-divisi-ubah').submit(function(e){
         	e.preventDefault();
         	var namadivisi=$(this).find('input[name="divisi.namadivisi"]').val();
         	var form=$(this).serialize();
         	$.ajax({
	         	url : tambah.url(),
	         	data : form,
	         	type : 'POST',
	         	success:function(data){    
	          		if(data=='success'){	           		
	                  $('#modal-divisi-ubah').modal('hide');
	                  $('#alert-success-ubah').find('.msg b').html(namadivisi);
	                  $('#alert-success-ubah').modal('show');
	                  setTimeout(function(){$('#alert-success-ubah').modal('hide');},2000);
	                  $('#form-divisi-ubah')[0].reset();
	                  $('#detail-divisi').load(detaildivisi({id:${divisi?.id}}));
	          		}else{
	           			alert(data);
           			}
         		}
         	});
        });	
	});         
  	</script>
#{/set}
      