#{extends 'public/themes2/index.html' /}
<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    <li class="active">Divisi</li>	    
		</ul>
	</div>
</div>
#{set 'panel-button'}
	<div class="row">
		<div class="col-lg-12 text-left">
				<button class="btn btn-md btn-primary square-btn-adjust" id="panelButton" data-target="#modal-divisi-tambah" data-toggle="modal">
					<i class=" fa fa-plus-square"></i> &{'divisi.tombol.tambah'} 
				</button>
		</div>
	</div>
#{/set}
#{panel title:'divisi.panel.title' /}
#{set 'modal-content'}
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Nama Divisi</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="divisi.namadivisi" value="${divisi?.namadivisi}" class="form-control" placeholder="Masukan nama divisi" required/>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Kuota</label>
	</div>
	<div class="col-lg-8">
		<input type="number" name="divisi.kuota" min="0" max="100" class="form-control" placeholder="Masukan jumlah siswa yang dapat ditampung" required/>
	</div>								
</div>
#{/set}
#{modal id:'modal-divisi-tambah',title:'divisi.modal.title.tambah',content:'modal-divisi-content-tambah',form:'form-divisi-tambah' /}
#{modal id:'modal-divisi-ubah',title:'divisi.modal.title.ubah',content:'modal-divisi-content-ubah',form:'form-divisi-ubah' /}
#{alert-success id:'alert-success-tambah', msg:'divisi.alert.success.tambah' /}
#{alert-success id:'alert-success-ubah', msg:'divisi.alert.success.ubah' /}
#{alert-success id:'alert-success-hapus', msg:'divisi.alert.success.hapus' /}
#{modal-hapus id:'divisi-hapus',title:'divisi.hapus.title',msg:'divisi.hapus.pesan'/}





#{set 'moreScripts'}
    <script type="text/javascript">
	$(document).ready(function () {  
	
/*================================================================
===============LOAD LIST Divisi=====================================
==================================================================*/
	 	var list=#{jsAction @Divisis.listdivisi() /}; 	
		$('#panel-content').load(list());			 
/*================================================================
===============SUBMIT DIVISI BARU=====================================
==================================================================*/
		var tambah=#{jsRoute @Divisis.tambahdivisi() /};		
		$('#form-divisi-tambah').validate({
			errorClass: "field-error",
		});
		$('#form-divisi-tambah').submit(function(e){
			if ($('#form-divisi-tambah').valid()) {			
	         	e.preventDefault();
				$('#progress-icon').toggle();	  	
	         	var form=$(this).serialize();
	         	alert(form);
	         	$.ajax({
		         	url : tambah.url(),
		         	data : form,
		         	type : 'POST',
		         	success:function(data){    
		          		if(data=='success'){	           		
				  					$('#progress-icon').toggle();	  	
		                  $('#modal-divisi-tambah').modal('hide');
		                  $('#alert-success-tambah').modal('show');
		                  setTimeout(function(){$('#alert-success-tambah').modal('hide');},1500);
		                  $('#form-divisi-tambah')[0].reset();
		                  $('#panel-content').load(list());	
		          		}else{
		           			alert(data);
	           			}
	         		}
	         	});	
			};
        });			 

/*================================================================
===============UBAH DATA DIVISI=====================================
==================================================================*/
		var recipient;
		var ubahuser=#{jsAction @Divisis.ubahdivisi(':id') /}
		$('#modal-divisi-ubah').on('show.bs.modal', function (event) {
      	   	var button = $(event.relatedTarget);
			recipient = button.data('id');		
			$('#modal-divisi-content-ubah').load(ubahuser({id:recipient}));
		});
		$('#form-divisi-ubah').validate({
			errorClass: "field-error",
		});
		$('#form-divisi-ubah').submit(function(e){
			if ($('#form-divisi-ubah').valid()) {		
         	e.preventDefault();
         	var namadivisi=$(this).find('input[name="divisi.namadivisi"]').val();
         	var form=$(this).serialize();
			$('#progress-icon').toggle();	  	
         	$.ajax({
	         	url : tambah.url(),
	         	data : form,
	         	type : 'POST',
	         	success:function(data){    
	          		if(data=='success'){	           		
	                  $('#modal-divisi-ubah').modal('hide');
				  					$('#progress-icon').toggle();	  	
	                  $('#alert-success-ubah').find('.msg b').html(namadivisi);
	                  $('#alert-success-ubah').modal('show');
	                  setTimeout(function(){$('#alert-success-ubah').modal('hide');},2000);
	                  $('#form-divisi-ubah')[0].reset();
	                  $('#panel-content').load(list());	
	          		}else{
	           			alert(data);
           			}
         		}
         	});
			};
        });			 
		/*====================================================	
		========HAPUS Divisi================================	
		======================================================	*/	           
				  var id_divisi;
		          $('#divisi-hapus').on('show.bs.modal', function (event) {
		     	   		var button = $(event.relatedTarget);
						id_divisi = button.data('id');
		          }); 

				  $("#divisi-hapus").find("button[type='submit']").click(function(e){
					  	e.preventDefault();
				  		$('#progress-icon-hapus').toggle();	  	
				   		var hapus=#{jsRoute @Divisis.hapusdivisi(':id') /};
				   		$.ajax({
				   			url: hapus.url({id: id_divisi}),
				   			type: 'POST',
				   			success: function(data){
					   			if(data=="sukses"){
				  					$('#divisi-hapus').modal('hide');
				  					$('#progress-icon-hapus').toggle();	  		
					   				$('#alert-success-hapus').modal('show');
				                 	setTimeout(function(){$('#alert-success-hapus').modal('hide');},2000);					  				
				                 	$('#alert-success-hapus').on('hide.bs.modal', function (event) {
				  	                  $('#panel-content').load(list());	
				                 	});	  			
								}else{
									alert(data);
								}
				   			}
				   		});
				  });



	});//end document
	</script>
#{/set}