    <table class="table table-striped table-bordered table-hover" id="dataTables">
       <thead>
            <tr>
				<th>Nama Divisi</th>
				<th width="10%">Kuota</th>
				<th width="10%">Aktif</th>
				<th width="10%">Lainnya</th>
				<th width="30%">Aksi</th>
            </tr>
        </thead>
        <tbody id="tablebody">        	
			#{list divisi}
				<tr>
			  		<td>${_?.namadivisi}</td>
			  		<td>${_?.kuota}</td>
			  		<td>${_?.terisi}</td>
			  		<td>${controllers.Divisis.hitungSiswa(_?.id)}</td>
			  		<td>  					 
			  			
		   			<a href="@{Divisis.detail(_?.id)}">
		   			<button class="btn-primary">
		   				<i class=" fa fa-search-plus"> </i> Detail
		   			</button>
		   			</a> 			
			  			<button class="btn-info tombolubah" data-target="#modal-divisi-ubah" data-id="${_?.id}" data-toggle="modal" data-placement="top" title="edit divisi"><i class=" fa fa-pencil"></i> Ubah</button>
			  			#{if controllers.Divisis.cekdivisi(_?.id)} 			
			  			<button class="btn-danger tombolhapus" data-target="#divisi-hapus" data-id="${_?.id}" data-toggle="modal" data-placement="top" title="hapus divisi"><i class=" fa fa-trash"></i> Hapus</button>
			  			#{/if}			  					  			
			  			#{else} 			
			  			<button class="btn-default tombolubah" disabled="disabled" data-target="#divisi-hapus" data-id="${_?.id}" data-toggle="modal" data-placement="top" title="hapus divisi"><i class=" fa fa-trash"></i> Hapus</button>
			  			#{/else}
			  		</td>
			  	</tr>
			 #{/list}
        </tbody>        
</table>
<script>

	 $('#dataTables').dataTable();	
</script>