<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Nama Divisi</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="divisi.namadivisi" value="${divisi?.namadivisi}" class="form-control" required="required" placeholder="Masukan nama divisi"  />
		<input type="hidden" name="divisi.id" value="${divisi?.id}"/>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Kuota</label>
	</div>
	<div class="col-lg-8">
		<input type="number" name="divisi.kuota" min=0 max=100 value="${divisi?.kuota}" class="form-control" required placeholder="Masukan jumlah siswa yang dapat ditampung" />
	</div>								
</div>