#{extends 'public/themes2/index.html' /}
<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    <li class="active">Arsip Pengajuan</li>	    
		</ul>
	</div>
</div>
<div id="pengajuan-panel">
#{panel title:'pengajuan.panel.title' /}
</div>


#{modal-hapus id:'modal-pengajuan-restore',title:'pengajuan.restore.title',msg:'pengajuan.restore.pesan'/}

#{alert-success id:'alert-success-restore', msg:'pengajuan.alert.success.restore'/}



#{set 'moreScripts'}
	<script>
	$(document).ready(function () {  
		
/*================================================================
===============LOAD LIST USER=====================================
==================================================================*/
		var list	=	#{jsAction @Pengajuans.listPengajuan(':display') /}; 		
		$('#panel-content').load(list({display:0}));
/*================================================================
===============TAMBAH PENGAJUAN=====================================
==================================================================*/	

  		var idpengajuan,namapengajuan;
  		$('#modal-pengajuan-restore').on('show.bs.modal',function(event){
  			var getName=#{jsRoute @Pengajuans.getNamePengajuan() /};
  			idpengajuan=$(event.relatedTarget).data('id');  
  			$.get(getName.url(),{id:idpengajuan}).done(function(data){
				$(".hapus-msg b").html(data);
				namapengajuan=data;
			});	
  			$('#yeshapus').text("Restore");
  		});
  		$('#modal-pengajuan-restore').find("button[type='submit']").click(function(e){
			  e.preventDefault();
			  var restore=#{jsRoute @Pengajuans.restorepengajuan() /};
			  $.post(restore.url(),{id:idpengajuan}).done(function(data){
				   $('#modal-pengajuan-restore').modal('hide');
				   $('#alert-success-restore').find('b').text(namapengajuan);
				   $('#alert-success-restore').modal('show');
	                setTimeout(function(){$('#alert-success-restore').modal('hide');},1700);
					$('#panel-content').load(list({display:0}));
			  });
  		});
  		
	});//end
	</script>
#{/set}