<div class="row">
		<div class="col-lg-12">
			<table class="table table-hover">
	            <tbody>
	                <tr>
	                    <th>Jenis Instansi</th>
	                    <td>:</td>
	                    <th>${pengajuan?.jenisinstansi_id?.namajenis}</td>
	                </tr>
	                <tr>
	                    <th>No Surat</th>
	                    <td>:</td>
	                    <th>${pengajuan?.nosurat}</td>
	                </tr>
	                <tr>
	                    <th>Tgl Surat</th>
	                    <td>:</td>
	                    <th>${pengajuan?.tglsurat?.format('dd MMMM yyyy','id')}</td>
	                </tr>
	                <tr>
	                    <th>Nama Sekolah</th>
	                    <td>:</td>
	                    <th>${pengajuan?.namainstansi}</td>
	                </tr>
	                <tr>
	                    <th>No Telepon</th>
	                    <td>:</td>
	                    <th>${pengajuan?.notelp}</td>
	                </tr>
	                <tr>
	                    <th>Jumlah Orang</th>
	                    <td>:</td>
	                    <th id="jumlahorang">${pengajuan?.siswa?.size()}</td>
	                </tr>	                                                  
	            </tbody>
	        </table>
		</div>
	</div>