#{extends 'public/themes2/index.html' /}
<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    #{if pengajuan?.tampil==true}
		    	<li><a href="@{Pengajuans.index()}">Pengajuan</a></li>
		    #{/if}
		    #{else}
		    	<li><a href="@{Pengajuans.arsip()}">Arsip Pengajuan</a></li>
		    #{/else}	 
		    <li class="active">${pengajuan?.namainstansi}</li>	    
		</ul>
	</div>
</div>
#{set 'panel-button' }
		#{if pengajuan?.tampil==true}
		<div class="row">
			<div class="col-lg-12 text-left">
				<button class="btn btn-info" id="panelButton" data-toggle="modal" data-target="#modal-pengajuan-ubah" data-id="${pengajuan?.id}"><i class=" fa fa-edit"></i> Ubah Pengajuan</button>
			</div>			
		</div>		   	
		#{/if}		   	
		<br>
#{/set}
#{set 'panel-content'}
	<div id="detail-pengajuan"></div>
#{/set}
#{panel title:'pengajuan.detail.panel.title' /}
#{modal id:'modal-pengajuan-ubah',title:'pengajuan.modal.title.ubah',content:'modal-pengajuan-content-ubah',form:'form-pengajuan-ubah' /}



#{set 'panel-button' }
		<div class="row">
			<div class="col-lg-12 text-left">
				#{if pengajuan?.tampil==true}
				<button class="btn-primary" id="tambah-siswa" data-toggle="modal" data-target="#modal-siswa-tambah" data-idpengajuan="${pengajuan?.id}"><i class=" fa fa-plus-square"></i> Tambah Siswa</button>
				
				<button class="btn-success" id="tombol-ubah-status"><i class=" fa fa-refresh"></i> Ubah Status</button>#{/if}
			</div>			
		</div>		
		<br>
#{/set}
#{set 'panel-content'}
	<div id="table-siswa"></div>
#{/set}
#{panel title:'pengajuan.siswa.panel.title' /}

#{set 'modal-content'}

#{/set}
#{modal id:'modal-siswa-tambah',title:'siswa.modal.title.tambah',content:'modal-siswa-content-tambah',form:'form-siswa-tambah' /}


#{alert-success id:'alert-success-ubah-pengajuan', msg:'pengajuan.alert.success.ubah'/}


#{set 'moreScripts'}
	<script>
		$(document).ready(function () {   
			/*================================================================
			=============== LOAD LIST SISWA =====================================
			==================================================================
			*/
			
			var detailpengajuan=#{jsAction @Pengajuans.detailpengajuan(':id') /};			
			$('#detail-pengajuan').load(detailpengajuan({id:${pengajuan?.id}}));
			
			var listsiswa=#{jsAction @Siswas.listsiswa(':id',':pengajuan') /};			
			#{if pengajuan?.tampil==true}
				$('#table-siswa').load(listsiswa({id:'3',pengajuan:${pengajuan?.id}}));
			#{/if}
			#{else}
				$('#table-siswa').load(listsiswa({id:'3',pengajuan:${pengajuan?.id}}),function(){
					$("#dataTables").DataTable().column(5).visible(true);	
				});
			#{/else}
			$('#modal-pengajuan-ubah').on('show.bs.modal',function(event){			
				var idpengajuan=$(event.relatedTarget).data('id');
				var editPengajuan=#{jsAction @Pengajuans.ubahpengajuan(':id') /};			
				$('#modal-pengajuan-content-ubah').load(editPengajuan({id : idpengajuan}));
			});	

	  		$('#form-pengajuan-ubah').submit(function(e){
	  			e.preventDefault();
	  			$('#progress-icon').toggle();
				var simpan=#{jsRoute @Pengajuans.simpanpengajuan() /}
	  			var form=$(this).serialize();
	  			$.ajax({
	  				url: simpan.url(),
	  				data : form,
	  				type: 'POST',
	  				success: function(data){
	  					if(data=="success"){
	  	  					$('#modal-pengajuan-ubah').modal('hide');
	  	  					$('#progress-icon').toggle();
			                $('#alert-success-ubah-pengajuan').modal('show');
			                setTimeout(function(){$('#alert-success-ubah-pengajuan').modal('hide');},1500);
	  	  					$('#detail-pengajuan').load(detailpengajuan({id:${pengajuan?.id}}));
	  					}else{
	  						alert(data);
	  					}
	  				}
	  		    });  						  				
	  		});
	  		
			$('#modal-siswa-tambah').on('show.bs.modal',function(event){			
				var idpengajuan=$(event.relatedTarget).data('idpengajuan');
				var tambahsiswa=#{jsAction @Siswas.tambahsiswa(':idpengajuan') /};			
				$('#modal-siswa-content-tambah').load(tambahsiswa({idpengajuan : idpengajuan}));
			});	
			$('#form-siswa-tambah').validate({
				errorClass: "field-error",
			});
			$('#form-siswa-tambah').submit(function(e){
				if ($('#form-siswa-tambah').valid()) {						  		
		  			e.preventDefault();
		  			var progress=$(this).find('#progress-icon');
					progress.toggle();
					var cekkuota=#{jsRoute @Divisis.cekkuota() /}
					var divisiid=$(this).find('.kuotadivisi').val();
					var simpan=#{jsRoute @Siswas.simpansiswa() /}
		  			var form=$(this).serialize();
					var status=$(this).find('.status-siswa').val();	
					$.get(cekkuota.url(),{id:divisiid}).done(function(data){
						if(data==0 && status==5){
							$('#form-siswa-tambah').find('.error-msg.error-divisi').show();
							progress.toggle();
						}else{
							$.ajax({
				  				url: simpan.url(),
				  				data : form,
				  				type: 'POST',
				  				success: function(data){
				  					if(data=="success"){
				  						$('#form-siswa-tambah')[0].reset();
				  	  					$('#modal-siswa-tambah').modal('hide');
				  	  				progress.toggle();	
						   				$('#alert-success-tambah').modal('show');
					                 	setTimeout(function(){$('#alert-success-tambah').modal('hide');},2000);					  				
					                 	$('#alert-success-tambah').on('hide.bs.modal', function (event) {
				  	  						$('#table-siswa').load(listsiswa({id:'3',pengajuan:${pengajuan?.id}}));				
				  	  						$('#detail-pengajuan').load(detailpengajuan({id:${pengajuan?.id}}));
					                 	});
				  					}else{
				  						alert(data);
				  					}
				  				}
				  		    });  		
						}
						
					});
		  			
				};	
	  		});				
	  		$('#alert-success-hapus').on('hidden.bs.modal', function (event) {				
				
          	}); 
			
		});	
	</script>
#{/set}