#{list items:0..banyak-1,as:'x'}
<div class="panel panel-default">
	<div class="panel-heading">
		<i class=" fa fa-th-list "></i> Siswa ${x+1}
	</div>	
	<div class="panel-body">
         <div class="form-group">
             <label class="control-label col-lg-2">Nama</label>
             <div class="col-lg-10">             
		 		<input type="text" name="object[${x}].nama" class="form-control" placeholder="Masukan nama siswa"  required/>
             </div>
         </div>
         <div class="form-group">
             <label class="control-label col-lg-2">NIS</label>
             <div class="col-lg-10">
			 <input type="text" name="object[${x}].nis" class="form-control" placeholder="Masukan nomor induk siswa"  required/>
             </div>
         </div>
        <div class="form-group">
             <label class="control-label col-lg-2">Jenis Kelamin</label>
             <div class="col-lg-10">
			 #{select 'object['+x+'].jeniskelamin.id', items:jk, valueProperty:'id', labelProperty:'namakelamin', class:'form-control', id:'select2' /}
             </div>
         </div>
         <div class="form-group">
             <label class="control-label col-lg-2">Jurusan</label>
             <div class="col-lg-10">
			 	<input type="text" name="object[${x}].jurusan" class="form-control" placeholder="Masukan jurusan siswa" required/>
             </div>
         </div>	
         <div class="form-group">
			<label class="control-label col-lg-2">Divisi</label>
			<div class="col-lg-10">
				#{select 'object['+x+'].divisi.id', class:'form-control'}
					#{list divisi}
						#{option _?.id}${_?.namadivisi} (Kuota ${_?.kuota})#{/option}
					#{/list}
				#{/select}
			</div>								
		</div>
		<div class="form-group"> 
			<label class="control-label col-lg-2">Tgl Mulai</label> 
			<div class="col-lg-10">
				<input type="text" name="tglmulai[${x}]" class="form-control" class="tglMulai" id="tglMulai_${x}" placeholder="Masukan tanggal mulai kerja praktik"  required/>
			</div>			
		</div>	
		<div class="form-group">
			<label class="control-label col-lg-2">Tgl Selesai</label>
			<div class="col-lg-10">
				<input type="text" name="tglselesai[${x}]" class="form-control" class="tglSelesai"  id="tglSelesai_${x}" placeholder="Masukan tanggal selesai kerja praktik" required/>
			</div>								
		</div>
		<div class="form-group"> 
				<label class="control-label col-lg-2">Status</label> 
				<div class="col-lg-10"> 
					#{select 'siswa.status.id', items:status, valueProperty:'id', labelProperty:'namastatus', value:siswa?.status?.id, class:'form-control', disabled:'disabled', required:'required' /}
				</div>								
		</div>
   </div>
</div>
<script>
$(document).ready(function () {  
	$('#pengajuan-tombol-back').click(function(e){
		e.preventDefault();
		$('#formsiswa-panel').hide(500);
		$('#formpengajuan-panel').show(500);
	});
		$("#tglMulai_${x}").datepicker({
				showAnim : 'slideDown',
				dateFormat : 'dd-mm-yy',
			      changeMonth: true,
			      changeYear: true,
				onClose: function( selectedDate ) {
			        $( "#tglSelesai_${x}" ).datepicker( "option", "minDate", selectedDate );
			      }
			});	
		$("#tglSelesai_${x}").datepicker({
			showAnim : 'slideDown',
			dateFormat : 'dd-mm-yy',
		      changeMonth: true,
		      changeYear: true,
			onClose: function( selectedDate ) {
		        $( "#tglMulai_${x}" ).datepicker( "option", "maxDate", selectedDate );
		      }
		});
});
</script>
#{/list}
<div class="modal-footer">
		<button type="button" class="btn btn-md btn-default" id="pengajuan-tombol-back">Kembali</button>
		<button type="submit" class="btn btn-md btn-primary" id="pengajuan-tombol-save"><i class="fa fa-spinner fa-pulse status-hidden" id="progress-icon"></i> Simpan</button>	
</div>

