#{extends 'public/themes2/index.html' /}
<div class="row">
	<div class="col-md-10">
		<ul class="breadcrumb">
		    <li><a href="/"><i class="fa fa-home"></i> Beranda</a></li>
		    <li class="active">Pengajuan</li>	    
		</ul>
	</div>
</div>
<div id="pengajuan-panel">
#{set 'panel-button'}
	<div class="row">
		<div class="col-lg-12 text-left">
				<button class="btn btn-lg btn-primary square-btn-adjust" id="pengajuan-tombol-tambah">
					<i class=" fa fa-plus-square"></i> &{'pengajuan.tombol.tambah'} 
				</button>
		</div>
	</div>
#{/set}
#{panel title:'pengajuan.panel.title' /}
</div>
<form id="formpengajuan" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">						
<div id="formpengajuan-panel" class="sembunyikan">
	#{set 'panel-button'}
	#{/set}
	#{set 'panel-content'}
								<div class="form-group">
									<div class="col-lg-4">
										<label class="control-label">Jenis Sekolah</label>
									</div>
									<div class="col-lg-8">
										#{select 'pengajuan.jenisinstansi_id.id', items:jenis, valueProperty:'id', labelProperty:'namajenis', class:'form-control', id:'select2' /}
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-4">
										<label class="control-label">No Surat</label>
									</div>
									<div class="col-lg-8">
										<input type="text" name="pengajuan.nosurat" value="${_?.nosurat}" class="form-control" placeholder="Masukan no surat pengajuan" required/>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-4">
										<label class="control-label">Tanggal Surat</label>
									</div>
									<div class="col-lg-8 date">
										<input type="text" id="tglsurat" name="tglsurat" value="${_?.tglsurat?.format('dd-MM-yyyy')}" class="form-control" placeholder="Masukan tanggal surat pengajuan" required/>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-4">
										<label class="control-label">Nama Sekolah / Perguruan Tinggi</label>
									</div>
									<div class="col-lg-8">
										<input type="text" name="pengajuan.namainstansi" value="${_?.namainstansi}" class="form-control " placeholder="Masukan nama sekolah" required/>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-4">
										<label class="control-label">No Telp</label>
									</div>
									<div class="col-lg-8">
										<input type="number" name="pengajuan.notelp" class="form-control " placeholder="Masukan no telepon yang bisa dihubungi" required/>
									</div>								
								</div>
								<div class="form-group">
									<div class="col-lg-4">
										<label class="control-label">Jumlah Orang</label>
									</div>
									<div class="col-lg-8">
										<input id="jumlahorang" type="number" name="pengajuan.jumlahorang" class="form-control " min="1" max="10" placeholder="Masukan jumlah siswa yang akan kerja praktik"  required/>
									</div>		
															
								</div>
								<div class="modal-footer">
										<button type="button" class="btn btn-md btn-default" id="pengajuan-tombol-batal">Batal</button>
										<button type="submit" class="btn btn-md btn-primary" id="pengajuan-tombol-next">Selanjutnya</button>	
								</div>	
	
	#{/set}
	#{panel title:'pengajuan.panel.formpengajuan.title' /}
</div>
<div id="formsiswa-panel" class="sembunyikan">
	
	#{set 'panel-button'}
	#{/set}
	#{set 'panel-content'}
	#{/set}
	#{panel title:'pengajuan.panel.formsiswa.title' /}
</div>
</form>

#{alert-success id:'alert-success-tambah', msg:'pengajuan.alert.success.tambah'/}
#{alert-success id:'alert-success-ubah', msg:'pengajuan.alert.success.ubah'/}
#{modal id:'modal-pengajuan-ubah',title:'pengajuan.modal.title.ubah',content:'modal-pengajuan-content-ubah',form:'form-pengajuan-ubah' /}
#{modal-hapus id:'modal-pengajuan-arsipkan',title:'pengajuan.arsipkan.title',msg:'pengajuan.arsipkan.pesan'/}

#{alert-success id:'alert-success-arsip', msg:'pengajuan.alert.success.arsip'/}


#{set 'moreScripts'}
	<script>
	$(document).ready(function () {  
		$('#tglsurat').datepicker({
			showAnim : 'slideDown',
			dateFormat : 'dd-mm-yy',
		      changeMonth: true,
		      changeYear: true,
		});	
		 var validator=$("#formpengajuan").validate({
				errorClass: "field-error",
		 });
		 $('#form-pengajuan-ubah').validate({
				errorClass: "field-error",
		 });
/*================================================================
===============LOAD LIST USER=====================================
==================================================================*/
		var list	=	#{jsAction @Pengajuans.listPengajuan(':display') /}; 		
		$('#panel-content').load(list({display:1}));
		
/*================================================================
===============TAMBAH PENGAJUAN=====================================
==================================================================*/	
		$('#pengajuan-tombol-tambah').click(function(e){
			e.preventDefault();
			$("#pengajuan-panel").hide(500);
			$('#formpengajuan-panel').show(500);
		});
		$('#pengajuan-tombol-batal').click(function(e){
			e.preventDefault();
			validator.resetForm();
			$('#formpengajuan-panel').hide(500);
			$('#pengajuan-panel').show(500);
		});
		$('#pengajuan-tombol-next').on('click',function(e){			
			if($("#formpengajuan").valid()){
				var count=$('input[name="pengajuan.jumlahorang"]').val();
				e.preventDefault();
				var formsiswa	=	#{jsAction @Pengajuans.formsiswa(':banyak') /}; 		
				$('#formsiswa-panel').find('#panel-content').load(formsiswa({banyak:count}));
				$('#formpengajuan-panel').hide(500);
				$('#formsiswa-panel').show(500);
			}
		});
		$('#formpengajuan').submit(function(e){
			if($("#formpengajuan").valid()){
				e.preventDefault();
				$('#pengajuan-tombol-save').find('#progress-icon').toggle();
				$('#pengajuan-tombol-save').attr('disabled','disabled');
				var simpan=#{jsRoute @Pengajuans.simpanpengajuan() /}
				var form=$(this).serialize();
				$.ajax({
					url:simpan.url(),
					data:form,
					type:"POST",
					success:function(data){
						if(data=="success"){
							$('#pengajuan-tombol-save').removeAttr('disabled','disabled');
							$('#formsiswa-panel').hide();
							$('#pengajuan-tombol-save').find('#progress-icon').toggle();
							$('#pengajuan-panel').fadeIn(500);	
			                $('#alert-success-tambah').modal('show');
			                setTimeout(function(){$('#alert-success-tambah').modal('hide');},1500);
			                $('#formpengajuan')[0].reset();	
			        		$('#panel-content').load(list({display:1}));
						}else{
							alert(data);
						}
					}
				});
			}
		});
		
		$('#modal-pengajuan-ubah').on('show.bs.modal',function(event){			
			var idpengajuan=$(event.relatedTarget).data('id');
			var editPengajuan=#{jsAction @Pengajuans.ubahpengajuan(':id') /};			
			$('#modal-pengajuan-content-ubah').load(editPengajuan({id : idpengajuan}));
		});	
		
  		$('#form-pengajuan-ubah').submit(function(e){
  			if ($('#form-pengajuan-ubah').valid()){
  			e.preventDefault();
  			$('#progress-icon').toggle();
			var simpan=#{jsRoute @Pengajuans.simpanpengajuan() /}
  			var form=$(this).serialize();  			
  			  			$.ajax({
  			  				url: simpan.url(),
  			  				data : form,
  			  				type: 'POST',
  			  				success: function(data){
  			  					if(data=="success"){
  			  	  					$('#modal-pengajuan-ubah').modal('hide');	  			  						
  			  	  					$('#progress-icon').toggle();	
  					                $('#alert-success-ubah').modal('show');
  					                setTimeout(function(){$('#alert-success-ubah').modal('hide');},1500);
  			  	  				$('#panel-content').load(list({display:1}));
  			  					}else{
  			  						alert(data);
  			  					}
  			  				}
  			  		    }); 
  			  		}		
  		});
  		var idpengajuan,namapengajuan;
  		$('#modal-pengajuan-arsipkan').on('show.bs.modal',function(event){
  			var getName=#{jsRoute @Pengajuans.getNamePengajuan() /};
  			idpengajuan=$(event.relatedTarget).data('id');  
  			$.get(getName.url(),{id:idpengajuan}).done(function(data){
				$(".hapus-msg b").html(data);
				namapengajuan=data;
			});	
  			$('#yeshapus').text("Arsipkan");
  		});
  		$('#modal-pengajuan-arsipkan').find("button[type='submit']").click(function(e){
			  e.preventDefault();
			  var arsipkan=#{jsRoute @Pengajuans.arsipkanpengajuan() /};
			  $.post(arsipkan.url(),{id:idpengajuan}).done(function(data){
				  if(data=="sukses"){
					   $('#modal-pengajuan-arsipkan').modal('hide');
					   $('#alert-success-arsip').find('b').text(namapengajuan);
					   $('#alert-success-arsip').modal('show');
		                setTimeout(function(){$('#alert-success-arsip').modal('hide');},1700);
						$('#panel-content').load(list({display:1}));
				  }else{
					  alert(data);
				  }
			  });
  		});
  		
	});//end
	</script>
#{/set}