<div class="table-responsive">
<table class="table table-striped table-bordered table-hover" id="dataTables">
        <thead>
            <tr>
				<th>No Surat</th>
				<th>Tgl Surat</th>
				<th>Nama Sekolah</th>
				<th>Jenis</th>
				<th>No Telp</th>
				<th>Jml Orang</th>
				<th>Aksi</th>
            </tr>
        </thead>
        <tbody>         
       	#{list pengajuan}       		      
		   	<tr>
		   		<td>${_?.nosurat}</td>
		   		<td>${_?.tglsurat?.format('dd MMM yyyy','id')}</td>
		   		<td>${_?.namainstansi}</td>
		   		<td>${_?.jenisinstansi_id?.namajenis}</td>
		   		<td>${_?.notelp}</td>
		   		<td>${_?.siswa?.size()}</td>		
		   		<td width="20%">
		   			<a href="@{Pengajuans.detail(_?.id)}">
		   			<button id="DetailPengajuan" class="btn-primary">
		   				<i class=" fa fa-search-plus"> </i> Detail
		   			</button>
		   			</a>
		   			#{if _?.tampil==true}
		   			<button class="btn-info" data-toggle="modal" data-target="#modal-pengajuan-ubah" data-id="${_?.id}">
		   				<i class=" fa fa-edit"></i> Ubah
		   			</button>			
		   			  #{secure.check "admin"}
		   			<button data-toggle="modal" data-target="#modal-pengajuan-arsipkan" data-id="${_?.id}" #{if controllers.Pengajuans.statusArsipkan(_?.id)} disabled="disabled" class="btn-default" #{/if} #{else}class="btn-danger" #{/else}>
		   				<i class=" fa fa-trash"> </i> Arsip
		   			</button>
		   			#{/secure.check}   	
		   			#{/if}		   			
					#{else}					    		
		   			<button class="btn-danger" data-toggle="modal" data-target="#modal-pengajuan-restore" data-id="${_?.id}">
		   				<i class=" fa fa-trash"> </i> Restore
		   			</button>
					#{/else}
		   		</td>
		   	</tr>
	   	#{/list}	   	   	
        </tbody>
	</table>
	   	</div>
<script>
	 $('#dataTables').dataTable({
		 "order" : [[1,'desc']]
	 });	
	
</script>