
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">No Surat</label>
	</div>
	<div class="col-lg-8">
		<input type="text" name="pengajuan.nosurat" value="${pengajuan?.nosurat}" class="form-control" placeholder="Masukan no surat pengajuan" required />
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Tanggal Surat</label>
	</div>
	<div class="col-lg-8 date">
		<input type="text" id="edittglsurat" name="tglsurat" value="${pengajuan?.tglsurat?.format('dd-MM-yyyy')}" class="form-control" placeholder="Masukan tanggal surat pengajuan"  required/>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Jenis Instansi</label>
	</div>
	<div class="col-lg-8">
		#{select 'pengajuan.jenisinstansi_id.id', items:jenis, valueProperty:'id', labelProperty:'namajenis', class:'form-control', value:pengajuan?.jenisinstansi_id.id /}
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Nama Instansi</label>
	</div>
	<div class="col-lg-8">
		<input id="instansi" type="text" name="pengajuan.namainstansi" value="${pengajuan?.namainstansi}" class="form-control" placeholder="Masukan nama sekolah"  required />
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">No Telp</label>
	</div>
	<div class="col-lg-8">
		<input type="number" name="pengajuan.notelp" value="${pengajuan?.notelp}" class="form-control" placeholder="Masukan no telepon yang bisa dihubungi"  required/>
	</div>								
</div>
<div class="form-group">
	<div class="col-lg-4">
		<label class="control-label">Jumlah Orang</label>
	</div>
	<div class="col-lg-8">
		<input type="number" name="pengajuan.jumlahorang" class="form-control" value="${pengajuan?.jumlahorang}" disabled/>
	</div>									
</div>
<input type="hidden" name="pengajuan.id" value="${pengajuan?.id}" />


<script>
$(document).ready(function () {     	
	$('#edittglsurat').datepicker({
	      changeMonth: true,
	      changeYear: true,
		showAnim : 'slideDown',
		dateFormat : 'dd-mm-yy',
	});	
});

</script>