<div class="modal fade" id="${_id}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="alert alert-success text-center msg">
        	&{_msg}
       </div>
   </div>
</div>