<div class="modal fade" id="${_id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg ">
       <div class="modal-content">
       
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">&{_title}</h4>
           </div>
          <form id="${_form}" class="form-vertical" enctype="application/x-www-form-urlencoded" method="post">          
           <div class="modal-body modal-open" id=${_content}>
           		#{get 'modal-content' /}
		   </div>
          </form>
       </div>
   </div>
</div>