<div id="${_id}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<!--         <h4 class="modal-title" id="myModalLabel"><b>&{_title}</b></h4> -->
      </div>
      <div class="modal-body">
      	<div class="row">
      		<div class="col-md-12 text-center">
      			<h4 class="control-label hapus-msg">&{_msg} <b></b> ?</h4>
      		</div>      		
      	</div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Batal</button>
               <button type="submit" class="btn btn-danger" id="yeshapus"><i class="fa fa-spinner fa-pulse status-hidden" id="progress-icon-hapus"></i>Hapus</button>
           </div>
      </div>
    </div>
  </div>
</div>