<div class="modal fade" id="${_id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
       <div class="modal-content">
       
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">&{_title}</h4>
           </div>
          <form id="${_form}" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">          
           <div class="modal-body" id=${_content}>
           		#{get 'modal-content' /}
		   </div>
           <div class="modal-footer">
               <button type="button"  class="btn btn-default" data-dismiss="modal">Tutup</button>
               <button type="submit" class="btn btn-primary" id="simpan"><i class="fa fa-spinner fa-pulse status-hidden" id="progress-icon"></i> Simpan</button>
           </div>
          </form>
       </div>
   </div>
</div>