<div class="row">
	<div class="col-lg-12">	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class=" fa fa-th-list "></i> &{_title} 		
			</div>	
			<div class="panel-body">
				#{get 'panel-button' /}
				<br>
				<div class="row">
					<div class="col-lg-12" id="panel-content"> 
					#{get 'panel-content' /}	
					</div>
				</div>
			</div>
		</div>
	</div>
</div>