#{extends 'public/themes2/index.html' /}

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">	
		<div class="panel panel-primary">
			<div class="panel-heading">
				<i class=" fa fa-th-list "></i> Cetak Laporan
			</div>	
			<div class="panel-body">
				<br>
				<div class="row">
					<div class="col-lg-12" id="contentmahasiswa">
						<div class="row">
							<div class="col-lg-8 col-md-offset-2">
								<form action="@{Laporan.cetak()}" class="form-horizontal" enctype="application/x-www-form-urlencoded" method="post">
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Jenis Sekolah</label>
									</div>
									<div class="col-lg-9">
																													
										#{select 'jenis', class:'form-control'}										
											#{option 3}Semua#{/option}
											#{list jenis}
												#{option _?.id}${_?.namajenis}#{/option}
											#{/list}
										#{/select}
									</div>								
								</div> 				
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Status</label>
									</div>
									<div class="col-lg-9">																												
										#{select 'status', class:'form-control'}										
											#{option 0}Semua#{/option}
											#{list status}
												#{option _?.id}${_?.namastatus}#{/option}
											#{/list}
										#{/select}
									</div>								
								</div> 								
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Periode</label>
									</div>
									<div class="col-lg-4">
										<input type="text" name="tglmulai" value="${siswa?.tglmulai}" class="form-control datepick" id="tglMulai" placeholder="Masukan Tanggal mulai" required/>
									</div>				
									<div class="col-lg-1 text-center">
										<label class="control-label">s/d</label>
									</div>													
									<div class="col-lg-4">
										<input type="text" name="tglselesai" value="${siswa?.tglselesai}" placeholder="Masukan Tanggal akhir" class="form-control datepick" id="tglSelesai" required/>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Atas Nama</label>
									</div>
									<div class="col-lg-9">
										<input type="text" name="atasnama"  placeholder="Masukan nama yang akan bertanda tangan dilaporan" class="form-control" required/>
									</div>								
								</div> 	
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">Jabatan</label>
									</div>
									<div class="col-lg-9">
										<input type="text" name="jabatan" class="form-control"  placeholder="Masukan jabatan dari yang bertanda tangan"  required/>
									</div>								
								</div> 	
								<div class="form-group">
									<div class="col-lg-3">
										<label class="control-label">NIK</label>
									</div>
									<div class="col-lg-9">
										<input type="text"  placeholder="Masukan NIK dari yang bertanda tangan"  name="nik" class="form-control" required/>
									</div>								
								</div> 	
<!-- 								<div class="form-group"> -->
<!-- 									<div class="col-lg-3"> -->
<!-- 										<label class="control-label">Urutkan Berdasarkan</label> -->
<!-- 									</div> -->
<!-- 									<div class="col-lg-5"> -->
<!-- 									#{select 'orderby', class:'form-control'}										 -->
<!-- 											#{option 'pengajuan.namainstansi'}Nama Sekolah#{/option}			 -->
<!-- 											#{option 'pengajuan.tglsurat'}Tanggal Surat#{/option}			 -->
<!-- 											#{option 'nama'}Nama Siswa#{/option}			 -->
<!-- 											#{option 'status.namastatus'}Status#{/option}			 -->
<!-- 											#{option 'tglmulai'}Tanggal Mulai#{/option}			 -->
<!-- 											#{option 'tglselesai'}Tanggal Selesai#{/option}														 -->
<!-- 											#{option 'divisi.namadivisi'}Divisi#{/option}																					 -->
<!-- 									#{/select} -->
<!-- 									</div> -->
<!-- 									<div class="col-lg-4"> -->
											
<!-- 									#{select 'orderby2', class:'form-control'}										 -->
<!-- 											#{option 'ASC'}Ascending#{/option}										 -->
<!-- 											#{option 'DESC'}Descending#{/option}																					 -->
<!-- 									#{/select} -->
<!-- 									</div>				 -->
<!-- 								</div> 	 -->
								<div class="form-group">
									<div class="col-lg-9 col-lg-offset-3">
										<button class="btn btn-success col-lg-12" style="font-size: 20px">Cetak</button>
									</div>								
								</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
#{set "moreScripts"}
<script>
$(document).ready(function () {     	
	$('#tglMulai').datepicker({
		showAnim : 'slideDown',
		dateFormat : 'dd-mm-yy',
	      changeMonth: true,
	      changeYear: true,
		onClose: function( selectedDate ) {
	        $( "#tglSelesai" ).datepicker( "option", "minDate", selectedDate );
	      }
	});	     	
	$('#tglSelesai').datepicker({
		showAnim : 'slideDown',
		dateFormat : 'dd-mm-yy',
	      changeMonth: true,
	      changeYear: true,
		onClose: function( selectedDate ) {
	        $( "#tglMulai" ).datepicker( "option", "maxDate", selectedDate );
	      }
	});	
});

</script>
#{/set}	